.azeret-mono-front{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

    /* heder */

/* H-sec-1 */
.h-cls{
    display: flex;
    justify-content: space-between;
}
.h-title{
    font-size: 28px;
    font-weight: 800;
    text-align: left;
}
.h-btn{
    border: 1px solid rgb(13, 19, 3);
    border-radius: 8px;
    opacity: .8;
    justify-content: center;
    padding: 12px 20px 12px 20px;
}
/* H-sec-2 */
.h-bg{
    background-image: url("../assets/Hero-bg.png");
    width: 1250px;
    height: 700px;
    top: 100px;
    bottom: 100px;
}
.h-img{
    width: 205px;
    height: 210px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}
.head-title{
    text-align: center;
    color: black;
    font-size: 45px;
    font-weight: 800;
    line-height: 65px;
}
.head-description{
    color: grey;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    padding: 0px 170px 0px 170px;
}

.btn-head{
    text-align: center;
    margin-bottom: 50px;
}
.head-btn{
    border: none;
    color: white;
    background-color: black;
    border-radius: 8px;
    padding: 20px 24px 20px 24px;
}