.azeret-mono-front {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}


*{
    margin: 0;
    padding: 0;
}
section{
    margin-bottom: 80px;
    margin-top: 50px;
}
    /* heder */

/* H-sec-1 */
.h-cls{
    display: flex;
    justify-content: space-between;
}
.h-title{
    font-size: 28px;
    font-weight: 800;
    text-align: left;
    margin: 25px;
}
.h-btn{
    width: 200px;
    height: 50px;
    border: 1px solid rgb(13, 19, 3);
    border-radius: 8px;
    opacity: .8;
    align-items: center;
    justify-content: center;
    padding: 12px 20px 12px 20px;
    margin-top: 20px;
    margin-right: 25px;
    cursor: pointer;
}
/* H-sec-2 */
.h-bg{
    background-image: url("../assets/Hero-bg.png");
    width: 1250px;
    height: 700px;
    top: 100px;
    bottom: 100px;
}
.h-img{
    width: 205px;
    height: 210px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}
.head-title{
    text-align: center;
    color: black;
    font-size: 45px;
    font-weight: 800;
    line-height: 65px;
}
.head-description{
    color: grey;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    padding: 0px 170px 0px 170px;
    margin-top: 30px;
}

.btn-head{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 30px;
}
.head-btn{
    border: none;
    color: white;
    background-color: black;
    border-radius: 8px;
    padding: 20px 24px 20px 24px;
    cursor: pointer;
}


    /* main */

/* m-sec-1 */

.main{
    padding: 80px 97px 80px 97px;
    background-color: rgba(13,19, 33, 0.04);
}
.web{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0px;
    padding: 67px;
    margin: 32px 0;
    background-color: white;
    border-radius: 18px;
}

.web-title{
    color: rgba(13,19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
}
.web-description{
    color: gray;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    margin: 16px 0px;
    width: 550px;
}
.web-img{
    width: 250px;
    height: 217px;
    left: 0.35%;
}

/* video */
.h-video{
    width: 840px;
    height: 410px;
    display: flex;
    margin: 48px 0px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    margin-left: 200px;
}
.video{
    
    padding-left: 50px;
    margin: 50px 0px;
    padding-top: 0px;
    padding-right: 50px;
    width: 600px;
    margin-left: 90px;
}

/* M-sec-2 */

.m-card{
    margin: 0px 100px;
}
.card{
    display: flex;
    align-items: center;
    text-align: left;
    margin-top: 70px;
}
.card-bg-color{
    background-color: rgba(0, 76, 232, 0.05);
    border-radius: 16px;
    margin: 0px 24px;
    padding: 40px;
    height: 600px;
}
.c-img{
    width: 56px;
    height: 56px;
    margin: 24px 0px;
}
.card-title{
    color: black;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    text-align: left;
}
.card-description{
    color: grey;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    line-height: 24px;
    opacity: 0.7;
    margin: 8px 0px;

}
a{
    color: black;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-align: center;
}
.a-tag{
    margin-top: 50px;
}
.js-img-colore{
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}
.html-img-colore{
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}
/* m-support */
.m-support{
    width: 1180px;
    height: 324px;
   
}
.support{
    background-image: linear-gradient(rgba(0, 0, 0, 0.374), rgba(0, 0, 0, 0.374), rgba(0, 0, 0, 0.374)),url("../assets/handshake.jpg");
    background-position: center;
    width: 900px;
    height: 200px;
    margin-left: 120px;
    padding: 100px;
    padding-bottom: 200px;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
}
.support-title{
    color: white;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    margin-top: 100px;
}
.support-description{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    margin: 0 124px;
    opacity: 0.7;
}
.sup{
    display: flex;
    align-items: center;
    padding: 0 155px;
}
.input-text{
    width: 320px;
    height: 57px;
    padding: 19px 20px 19px 10px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    margin: 54px 38px;

}
.sub-btn{
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding: 17px 20px 17px 20px;
    width: 120px;
    height: 57px;
    border: none;
    cursor: pointer;
}

/* footer */
.footer{
    margin-top: 250px;
    width: 1263px;
    height: 250px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-radius: 16px;
    background-color: rgba(13, 19, 33, 0.03);
}
footer{
    margin-bottom: -250px;
}
.foot-title{
    width: 750px;
    height: 24px;
    align-items: center;
    margin: 0px 16px;
    padding-left: 30px;
}
img{
    margin-left: 10px;
    margin-right: 10px;
    padding-right: 30px;
}

/* linear-gradient(rgba(0, 0, 0, 0.274), rgba(0, 0, 0, 0.274));
background-blend-mode: overlay; */